<?php
$config['db'] = [
    'host' => 'localhost',
    'name' => 'toory',
    'user' => 'toory',
    'pass' => 'password'
];
$config['debug'] = 0;
$config['salt'] = 'abcdefghijklmnopqrstuvwxyz12345678910111';
$config['seed'] = '12345678901234567890123456789';
$config['email'] = [
    'type' => '',
    'address' => 'toory@example.com',
    'account' => []
];
$config['twitter'] = [
    'consumer_key' => 'abcdefghijklmnopqrstuvwxy',
    'consumer_key_secret' => 'abcdefghijklmnopqrstuvwxyz123456789101112131415161'
];
